<h2 class="sectionHeading">Public Models</h2>

{{!-- searching form  --}}
<div class="searchForm subMenu" id="simple-search">
    <form id="custom-form-simple" class="custom-form">
        <div class="custom-form__group">
            <input type="text" name="bmName" id="bmName" placeholder="Model Name" value="{{bmName}}">
            <label class="group__label" for="name">Name</label>
        </div>
        <button type="submit" class="custom-form__submit">
            Filter
            <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor"
                stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7" /></svg>
        </button>
    </form>
</div>

{{!-- advanced searching form  --}}
<div class="searchForm subMenu" id="advanced-search">
    <form id="custom-form-advanced" class="custom-form">
        <div class="custom-form__group">
            <input type="text" name="bmName" id="bmName" placeholder="Model Name" value="{{bmName}}">
        </div>
        <div class="custom-form__group">
            <input type="text" name="bmId" id="bmId" placeholder="Model ID" value="{{bmId}}">
        </div>
        <div class="custom-form__group">
            <input type="text" name="category" id="category" placeholder="Category" value="{{category}}">
        </div>
        <div class="custom-form__group">
            <input type="text" name="owner" id="owner" placeholder="Owner" value="{{owner}}">
        </div>
        <div class="custom-form__group">
            <input type="text" name="savedLow" id="savedLow" placeholder="savedLow" value="{{savedLow}}">
        </div>
        <div class="custom-form__group">
            <input type="text" name="savedHigh" id="savedHigh" placeholder="savedHigh" value="{{savedHigh}}">
        </div>
        <div class="custom-form__group">
            <input type="text" name="orderBy" id="orderBy" placeholder="orderBy" value="{{orderBy}}">
        </div>
        <button type="submit" class="custom-form__submit">
            Filter
            <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor"
                stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7" /></svg>
        </button>
    </form>
</div>

{{!-- Script for Custom Form Submition Event --}}
<script>
    const simpleForm = document.getElementById("custom-form-simple");
    const advancedForm = document.getElementById("custom-form-advanced");

    //convert key val pair (from itr below) to format for url
    function convertPair(pair) {
      let a = pair[0];
      let b = pair[1];
      //remove dangerous chars
      a.replace('=', '');
      a.replace('&', '');
      b.replace('=', '');
      b.replace('&', '');
      return (pair[0] + '=' + pair[1]);
    }

    function whenPressed(e) {
      e.preventDefault();
      fd = new FormData(e.target);

      //add atributes not specified in simple search
      if (fd.get("bmId") == null) {
        fd.append("bmId","");
        fd.append("category","all");
        fd.append("owner","");
        fd.append("savedLow","");
        fd.append("savedHigh","");
        fd.append("orderBy","date_desc");
      }
      fd.append("page","1");

      //construct url params for resutls page
      const itr = fd.entries();
      let url = '';
      for (var pair of itr) {
        url += convertPair(pair) + '&';
      }
      //remove tailing "&"
      url = url.slice(0, url.length - 1);

      //go to results page
      window.location.assign('/curatedList/' + url);
    }

    //apply listerners
    simpleForm.addEventListener("submit", (e) => {whenPressed(e);});
    advancedForm.addEventListener("submit", (e) => {whenPressed(e);});
</script>

{{!--temporary elements for testing funcitonality--}}
<a href="/curatedList/bmName=&bmId=&category=all&owner=ModelBrick&savedLow=&savedHigh=&page={{add page 1}}&orderBy=date_desc">Next Page</a>
{{#if (greater page 1)}}
<a href="/curatedList/bmName=&bmId=&category=all&owner=ModelBrick&savedLow=&savedHigh=&page={{sub page 1}}&orderBy=date_desc">Previous Page</a>
{{/if}}
<button onclick="toggleSearch()">Toggle Advanced Search</button>

<script>
  //get elements
  var simple = document.getElementById("simple-search");
  var advanced = document.getElementById("advanced-search");

  //initally hide advanced
  advanced.style.display = "none";

  //toggle
  function toggleSearch() {
    if (simple.style.display === "none") {
      simple.style.display = "block";
      advanced.style.display = "none";
    } else {
      simple.style.display = "none";
      advanced.style.display = "block";
    }
  }
</script>

{{#if isNotEmpty}}
  {{!-- Main sorting table  --}}
  <div class="curatedListTable">


      <table id="content-table3" class="table-responsive-full sort-table">
          <thead>
              <tr>
                  <th class="title">BioModel ID
                      <div class="sort-table-arrows">
                          <a href="javascript:sort(true, 'title', 'content-table3');"><button class="button"
                                  title="down arrow"><i class="fa fa-chevron-down"></i></button></a>
                          <a href="javascript:sort(false, 'title', 'content-table3');"><button class="button"
                                  title="up arrow"><i class="fa fa-chevron-up"></i></button></a>
                      </div>
                  </th>
                  <th class="composer">BioModel name
                      <div class="sort-table-arrows">
                          <a href="javascript:sort(true, 'composer', 'content-table3');"><button class="button"
                                  title="down arrow"><i class="fa fa-chevron-down"></i></button></a>
                          <a href="javascript:sort(false, 'composer', 'content-table3');"><button class="button"
                                  title="up arrow"><i class="fa fa-chevron-up"></i></button></a>
                      </div>
                  </th>
                  <th class="lyrics">Owner
                      <div class="sort-table-arrows">
                          <a href="javascript:sort(true, 'lyrics', 'content-table3');"><button class="button"
                                  title="down arrow"><i class="fa fa-chevron-down"></i></button></a>
                          <a href="javascript:sort(false, 'lyrics', 'content-table3');"><button class="button"
                                  title="up arrow"><i class="fa fa-chevron-up"></i></button></a>
                      </div>
                  </th>
                  <th class="set">Date Saved
                      <div class="sort-table-arrows">
                          <a href="javascript:sort(true, 'set', 'content-table3');"><button class="button"
                                  title="down arrow"><i class="fa fa-chevron-down"></i></button></a>
                          <a href="javascript:sort(false, 'set', 'content-table3');"><button class="button"
                                  title="up arrow"><i class="fa fa-chevron-up"></i></button></a>
                      </div>
                  </th>
                  <th class="arranger">"Applications" - Simulations</th>
              </tr>
          </thead>
          <tbody>
              {{#each json}}
              <tr>
                  <td data-label="Title" class="title"><a
                          href="/curatedList/model/{{this.bmKey}}#dashboard">{{this.bmKey}}</a></td>
                  <td data-label="Composer" class="composer">{{trimString this.name}}</td>
                  <td data-label="Lyrics" class="lyrics">{{this.ownerName}}</td>
                  <td data-label="Set" class="set">{{toDate this.savedDate}}</td>
                  <td data-label="Arranger">
                    {{~#each this.simulations~}}
                    "{{this.bioModelLink.simContextName}}" - {{this.name}}
                    {{~/each~}}
                  </td>
              </tr>
              {{/each}}
          </tbody>
      </table>
  </div>
{{else}}
  <p id="list-empty">looks like there aren't any public models that have "<b>{{bmName}}</b>" in their name.</p>
{{/if}}
