<div class="sectionDescription">
    {{#each data.vcml.BioModel}}
    {{#each this.Version}}
    <span class="dashboardBtn"><a href="/curatedList/model/{{this.$.KeyValue}}#dashboard"><i class="fa fa-undo"
                aria-hidden="true"></i> Dashboard</a></span>
    <h2>Name - <span>{{trimString this.$.Name}}</span></h2>
    <h2>BioModel ID - <span>{{this.$.KeyValue}}</span></h2>
    {{/each}}
    {{/each}}
</div>

{{!-- reaction diagram --}}
<div class=" rxnDiagram">
    <h2 class="sectionTitle">Reaction Diagram</h2>
    {{#each data.vcml.BioModel}}
    {{#each this.Version}}
    <img class="image-zoom-available" src="https://vcellapi-beta.cam.uchc.edu:8080/biomodel/{{this.$.KeyValue}}/diagram"
        alt="reactionDiagram" draggable="false" />
    {{/each}}
    {{/each}}
</div>

{{!-- physiology table --}}
<h2 class="sectionTitle">Physiology</h2>

<div class="pmTable" id="physiology">
    <div class="container">
        <table class="responsive-table">
            <thead>
                <tr>
                    <th scope="col">
                      Universal ID's
                    </th>
                    <th scope="col">
                      Text Annotations
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="printAnnotationWrap">
                        <div class="printAnnotation">

                            {{!-- universal ID's  --}}
                            <div class="printUID" id="globalPublications">
                            </div>
                        </div>
                    </td>

                    <td class="printAnnotationWrap">
                        <div class="printAnnotation">

                            {{!-- annotation --}}
                            <div class="printTA" id="globalAnnotations">
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{{!-- reactions table  --}}
<div class="pmTable" id="reactions">
    <div class="container">
        <table id="print-reactions-table" class="responsive-table">
            <caption>Reactions <span class="dashboardBtn"><a href="/curatedList/model/{{modelName}}#reactions"><i
                            class="fa fa-undo" aria-hidden="true"></i>
                        See in Dashboard</a></span>
            </caption>
            <thead>
                <tr>
                    <th scope="col">
                      Reaction
                    </th>
                    <th id="flex-td" scope="col">
                      <div id="vert-line-left" class="vert-line">
                          Name
                      </div>
                      <div id="vert-line-right" class="vert-line">
                          Structure
                      </div>
                    </th>
                    <th scope="col">Kinetics</th>
                    <th scope="col">Depiction</th>
                </tr>
            </thead>
            <tbody>
                {{#each data.vcml.BioModel}}
                {{#each this.Model}}
                {{#each this.SimpleReaction}}
                <tr>
                    <td class="print-descriptor" data-title="Reaction">
                      {{~#each this.Reactant}}
                      {{~nullCheck this.$.LocalizedCompoundRef}}
                      {{~#if (greater ../this.Reactant.length (add 1 @index))~}}
                      +
                      {{~/if}}
                      {{~/each~}}
                      <span><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
                      {{~#each this.Product}}
                      {{~this.$.LocalizedCompoundRef}}
                      {{~#if (greater ../this.Product.length (add 1 @index))~}}
                      +
                      {{~/if}}
                      {{~/each~}}
                    </td>
                    <td id="flex-td" class="print-descriptor" data-title="Name">
                      <div id="vert-line-left" class="vert-line">
                        {{~this.$.Name~}}
                      </div>
                      <div id="vert-line-right" class="vert-line">
                        {{~this.$.Structure~}}
                      </div>
                    </td>
                    <td class="print-descriptor" data-title="Kinetics">
                        {{#each this.Kinetics}}
                        {{this.$.KineticsType}}
                        {{/each}}
                    </td>
                    <td class="print-descriptor" data-title="Depiction">
                      {{~#each this.Reactant}}
                      {{~nullCheck this.$.LocalizedCompoundRef}}
                      {{~#if (greater ../this.Reactant.length (add 1 @index))~}}
                      +
                      {{~/if}}
                      {{~/each~}}
                      <span><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
                      {{~#each this.Product}}
                      {{~this.$.LocalizedCompoundRef}}
                      {{~#if (greater ../this.Product.length (add 1 @index))~}}
                      +
                      {{~/if}}
                      {{~/each~}}
                    </td>
                </tr>
                <tr>
                    <td class="printAnnotationWrap">
                        {{!--reaction row--}}
                        <div class="printAnnotation">

                            {{!-- universal ID's  --}}
                            <div class="printUID" id="reactionUID-{{this.$.Name}}">
                            </div>
                        </div>
                    </td>

                    <td class="printAnnotationWrap">
                        {{!--name row--}}
                        <div class="printAnnotation">

                            {{!-- annotation --}}
                            <div class="printTA" id="reactionTA-{{this.$.Name}}">
                            </div>
                        </div>
                    </td>

                    <td class="printAnnotationWrap">
                        {{!--kinetics row--}}
                        <div class="printAnnotation">

                            {{!-- Kinetics --}}
                            <div class="printTA" id="kinetics">
                                {{#each this.Kinetics}}
                                {{#each this.Parameter}}
                                {{~this.$.Role}} ({{this.$.Name}}):&nbsp;
                                {{~this._~}}
                                <span class="unit">[{{this.$.Unit}}]</span>
                                <hr class="printable-hr">
                                {{/each}}
                                {{/each}}
                            </div>
                        </div>
                    </td>

                    <td class="printAnnotationWrap">
                        <canvas id="{{this.$.Name}}_species_canvas" width="" height=""></canvas>
                    </td>

                </tr>
                {{/each}}
                {{/each}}
                {{/each}}

            </tbody>
        </table>
    </div>
</div>

{{!-- Structures table  --}}
<div class="pmTable" id="structures">
    <div class="container">
        <table id="print-structures-table" class="responsive-table">
            <caption>Structures <span class="dashboardBtn"><a href="/curatedList/model/{{modelName}}#structures"><i
                            class="fa fa-undo" aria-hidden="true"></i>
                        See in Dashboard</a></span>

            </caption>
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th id="flex-td" scope="col">
                      <div id="vert-line-left" class="vert-line">
                          Type
                      </div>
                      <div id="vert-line-right" class="vert-line">
                          Electrical (Membrane Polarity)
                      </div>
                    </th>
                </tr>
            </thead>
                {{#each data.vcml.BioModel}}
                {{#each this.Model}}
                {{!-- some structures have features, others have membranes --}}
                {{!-- so 2 loops are needed --}}
                {{#each this.Feature}}
                <tr>
                    <td class="print-descriptor" data-title="Name">{{this.$.Name}}</td>
                    <td id="flex-td" class="print-descriptor" data-title="Electrical">
                      <div id="vert-line-left" class="vert-line">
                          Compartment
                      </div>
                      <div id="vert-line-right" class="vert-line">
                          {{this.$.PositiveFeature}}(+) &nbsp; {{this.$.NegativeFeature}}(-)
                      </div>
                    </td>
                </tr>
                <tr>
                    <td class="printAnnotationWrap">
                        <div class="printAnnotation">

                            {{!-- universal ID's  --}}
                            <div class="printUID" id="structureUID-{{this.$.Name}}">
                            </div>
                        </div>
                    </td>
                    <td class="printAnnotationWrap">
                        <div class="printAnnotation">

                            {{!-- annotation --}}
                            <div class="printTA" id="structureTA-{{this.$.Name}}">
                            </div>
                        </div>
                    </td>
                </tr>
                {{/each}}
                {{#each this.Membrane}}
                <tr>
                    <td class="print-descriptor" data-title="Name">{{this.$.Name}}</td>
                    <td id="flex-td" class="print-descriptor" data-title="Electrical">
                      <div id="vert-line-left" class="vert-line">
                          Membrane
                      </div>
                      <div id="vert-line-right" class="vert-line">
                          N/A
                      </div>
                    </td>
                </tr>
                <tr>
                    <td class="printAnnotationWrap">
                        <div class="printAnnotation">

                            {{!-- universal ID's  --}}
                            <div class="printUID" id="structureUID-{{this.$.Name}}">
                            </div>
                        </div>
                    </td>
                    <td class="printAnnotationWrap">
                        <div class="printAnnotation">

                            {{!-- annotation --}}
                            <div class="printTA" id="structureTA-{{this.$.Name}}">
                            </div>
                        </div>
                    </td>
                </tr>
                {{/each}}
                {{/each}}
                {{/each}}
            </tbody>
        </table>
    </div>
</div>


{{!-- Species table  --}}
<div class="pmTable" id="species">
    <div class="container">
        <table id="print-species-table" class="responsive-table">
            <caption>Species <span class="dashboardBtn"><a href="/curatedList/model/{{modelName}}#species"><i
                            class="fa fa-undo" aria-hidden="true"></i>
                        See in Dashboard</a></span>
            </caption>
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Structure</th>
                    <th scope="col">BioNetGen Definition</th>
                </tr>
            </thead>
            <tbody>

                {{#each data.vcml.BioModel}}
                {{#each this.Model}}
                {{#each this.LocalizedCompound}}
                <tr>
                    <td class="print-descriptor" data-title="Name">
                      {{this.$.Name}}
                    </td>
                    <td class="print-descriptor" data-title="Structure"> {{this.$.Structure}}</td>
                    <td id="printable-bionetgen" class="print-descriptor" data-title="BioNetGen">
                      {{~#each this.SpeciesPattern~}}
                      {{#each this.MolecularTypePattern~}}
                      {{#each this.MolecularType~}}
                      {{this.$.Name~}}(
                      {{~/each~}}
                      {{#each this.ComponentPattern~}}
                      {{this.$.MolecularComponent~}}
                      {{#this.$.ComponentStatePattern~}}~
                      {{~this~}}
                      {{/this.$.ComponentStatePattern~}}!
                      {{~this.$.BondType~}},
                      {{~/each~}}).
                      {{~/each~}}
                      {{/each}}</td>
                </tr>
                <tr>
                    <td class="printAnnotationWrap">
                        <div class="printAnnotation">

                            {{!-- universal ID's  --}}
                            <div class="printUID" id="speciesUID-{{this.$.Name}}">
                            </div>

                        </div>
                    </td>
                    <td class="printAnnotationWrap">
                        <div class="printAnnotation">
                            {{!-- annotation --}}
                            <div class="printTA" id="speciesTA-{{this.$.Name}}">
                            </div>
                        </div>
                    </td>
                    <td class="printAnnotationWrap">
                        <canvas class="molecule_canvas" title='g' width="0" height="0" id=
                            "{{~#each this.SpeciesPattern~}}
                            {{#each this.MolecularTypePattern~}}
                            {{#each this.MolecularType~}}
                            {{this.$.Name~}}(
                            {{~/each~}}
                            {{#each this.ComponentPattern~}}
                            {{this.$.MolecularComponent~}}
                            {{#this.$.ComponentStatePattern~}}~
                            {{~this~}}
                            {{/this.$.ComponentStatePattern~}}!
                            {{~this.$.BondType~}},
                            {{~/each~}}).
                            {{~/each~}}
                            {{/each}}">
                            {{~this.$.Structure}}</canvas>
                    </td>
                </tr>
                {{/each}}
                {{/each}}
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

{{!-- Molecules table  --}}
<div class="pmTable" id="molecules">
    <div class="container">
        <table id="print-molecules-table" class="responsive-table">
            <caption>Molecules <span class="dashboardBtn"><a href="/curatedList/model/{{modelName}}#molecules"><i
                            class="fa fa-undo" aria-hidden="true"></i>
                        See in Dashboard</a></span>

            </caption>
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Text Annotations</th>
                    <th scope="col">BioNetGen Definition</th>
                </tr>
            </thead>
            <tbody>

                {{#each data.vcml.BioModel}}
                {{#each this.Model}}
                {{#each this.RbmModelContainer}}
                {{#each this.MolecularTypeList}}
                {{#each this.MolecularType}}

                <tr>
                    <td class="print-descriptor" data-title="Name">{{this.$.Name}}</td>

                    <td class="print-descriptor" data-title="Text Annotations">Text Annotations</td>

                    <td id="printable-bionetgen" class="print-descriptor" data-title="Description">
                      {{~this.$.Name}}(
                      {{~#each this.MolecularComponent~}}
                      {{this.$.Name~}}
                      {{#each AllowableState}}~
                      {{~this.$.Name~}}
                      {{/each~}},
                      {{~/each}})</td>

                </tr>
                <tr>
                    <td class="printAnnotationWrap">
                        <div class="printAnnotation">

                            {{!-- universal ID's  --}}
                            <div class="printUID" id="moleculesUID-{{this.$.Name}}">
                            </div>
                        </div>
                    </td>

                    <td class="printAnnotationWrap">
                        <div class="printAnnotation">

                            {{!-- annotation --}}
                            <div class="printTA" id="moleculeTA-{{this.$.Name}}">
                            </div>
                        </div>
                    </td>

                    <td class="printAnnotationWrap">
                        <canvas class='molecule_canvas' title='m' width='0' height='0' id=
                        '{{~this.$.Name}}(
                        {{~#each this.MolecularComponent~}}
                        {{this.$.Name~}}
                        {{#each AllowableState}}~
                        {{~this.$.Name~}}
                        {{/each~}},
                        {{~/each}})'>
                    </td>

                </tr>
                {{/each}}
                {{/each}}
                {{/each}}
                {{/each}}
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

{{!-- Observables table  --}}
<div class="pmTable" id="observables">
    <div class="container">
        <table id="print-observables-table" class="responsive-table">
            <caption>Observables <span class="dashboardBtn"><a href="/curatedList/model/{{modelName}}#observables"><i
                            class="fa fa-undo" aria-hidden="true"></i>
                        See in Dashboard</a></span>

            </caption>
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th id="flex-td" scope="col">
                      <div id="vert-line-left" class="vert-line">
                          Type
                      </div>
                      <div id="vert-line-right" class="vert-line">
                          Count
                      </div>
                    </th>
                    <th scope="col">BioNetGen Definition</th>
                </tr>
            </thead>
            <tbody>
                {{#each data.vcml.BioModel}}
                {{#each this.Model}}
                {{#each this.RbmModelContainer}}
                {{#each this.RbmObservableList}}
                {{#each this.Observable}}

                <tr>
                    <td class="print-descriptor" data-title="Name">{{this.$.Name}}</td>
                    <td id="flex-td" class="print-descriptor" data-title="Domain">
                        <div id="vert-line-left" class="vert-line">
                            <p class="inline-tp">{{this.$.ObservableType}}</p>
                        </div>
                        <div id="vert-line-right" class="vert-line">
                            <p class="inline-tp">{{this.$.Sequence}}</p>
                        </div>
                    </td>

                    <td id="printable-bionetgen" class="print-descriptor" data-title="MolecularType">
                    {{~#each this.SpeciesPattern~}}
                    {{~#each this.MolecularTypePattern~}}
                    {{~#each this.MolecularType~}}
                    {{this.$.Name~}}(
                    {{~/each~}}
                    {{#each this.ComponentPattern~}}
                    {{this.$.MolecularComponent~}}
                    {{#this.$.ComponentStatePattern~}}~
                    {{~this~}}
                    {{/this.$.ComponentStatePattern~}}!
                    {{~this.$.BondType~}},
                    {{~/each~}}).
                    {{~/each~}}
                    {{~/each~}}</td>

                </tr>
                <tr>
                    <td class="printAnnotationWrap">
                        <div class="printAnnotation">

                            {{!-- universal ID's  --}}
                            <div class="printUID" id="observableUID-{{this.$.Name}}">
                            </div>
                        </div>
                    </td>

                    <td class="printAnnotationWrap">
                        <div class="printAnnotation">
                            {{!-- annotation --}}
                            <div class="printTA" id="observableUID-{{this.$.Name}}">
                            </div>
                        </div>
                    </td>

                    <td class="printAnnotationWrap">
                        <canvas class='molecule_canvas' title='g' width='0' height='0' id=
                        '{{~#each this.SpeciesPattern~}}
                        {{~#each this.MolecularTypePattern~}}
                        {{~#each this.MolecularType~}}
                        {{this.$.Name~}}(
                        {{~/each~}}
                        {{#each this.ComponentPattern~}}
                        {{this.$.MolecularComponent~}}
                        {{#this.$.ComponentStatePattern~}}~
                        {{~this~}}
                        {{/this.$.ComponentStatePattern~}}!
                        {{~this.$.BondType~}},
                        {{~/each~}}).
                        {{~/each~}}
                        {{~/each~}}'>
                    </td>

                </tr>

                {{/each}}
                {{/each}}
                {{/each}}
                {{/each}}
                {{/each}}


            </tbody>
        </table>
    </div>
</div>

<hr>

<h2 class="sectionTitle"><b>Applications</b></h2>
{{!-- Applications table  --}}
<div class="pmTable" id="applications">
    <div class="container">
        <table class="responsive-table">
            <caption>
              Applications
              <span class="dashboardBtn">
                <a href="/curatedList/model/{{modelName}}#applications">
                  <i class="fa fa-undo" aria-hidden="true"></i>
                  See in Dashboard
                </a>
              </span>
            </caption>
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Math Type</th>
                    <th scope="col">Annotation</th>
                </tr>
            </thead>
            <tbody>
                {{#each data.vcml.BioModel}}
                {{#each this.SimulationSpec}}
                <tr>
                    <td data-title="Name">
                      {{this.$.Name}}
                    </td>
                    <td data-title="Math Type">
                        {{#if (eq "true" this.$.Stochastic)}}
                          {{#if (eq "true" this.$.RuleBased)}}
                          Stochastic agent-based (NFSim)
                          {{else}}
                          Stochastic (SSA)
                          {{/if}}
                        {{else}}
                          {{#if (eq "true" this.$.RuleBased)}}
                          Deterministic rule-based (BioNetGen)
                          {{else}}
                          Deterministic (ODE)
                          {{/if}}
                        {{/if}}
                        {{#each this.Geometry}}
                          {{#if (eq "0" this.$.Dimension)}}
                          Compartmental
                          {{/if}}
                          {{#if (eq "2" this.$.Dimension)}}
                          Spatial (2D)
                          {{/if}}
                          {{#if (eq "3" this.$.Dimension)}}
                          Spatial (3D)
                          {{/if}}
                        {{/each}}
                    </td>
                    <td data-title="Annotation">
                      {{this.Annotation}}
                    </td>
                </tr>
                {{/each}}
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

{{!-- for each application  --}}
{{#each data.vcml.BioModel}}
{{#each this.SimulationSpec as |value key|}}
<h2 class="sectionTitle">Application - {{value.$.Name}}</h2>

{{!-- specifications table species --}}
<div class="pmTable" id="specsSpecies{{@key}}">
    <div class="container">
        <table class="responsive-table">
            <caption>
              Specifications(Species) - {{value.$.Name}}
              <span class="dashboardBtn">
                <a href="/curatedList/model/{{../../modelName}}#specsSpecies{{@key}}">
                  <i class="fa fa-undo" aria-hidden="true"></i>
                  See in Dashboard
                </a>
              </span>
            </caption>
            <thead>
                <tr>
                    <th scope="col">Species</th>
                    <th scope="col">Initial Condition</th>
                    <th scope="col">Diffusion Constant</th>
                </tr>
            </thead>
            <tbody>
                {{#each value.ReactionContext}}
                {{#each this.LocalizedCompoundSpec}}
                <tr>
                    <td data-title="Species">{{this.$.LocalizedCompoundRef}}</td>
                    <td data-title="Initial Condition">
                      {{this.InitialConcentration}}{{this.InitialCount}}
                      <span class="unit">
                        [{{initUnits this.InitialConcentration this.InitialCount ../../../this.Model.[0].ModelUnitSystem.[0].$.VolumeSubstanceUnit ../../../this.Model.[0].ModelUnitSystem.[0].$.LumpedReactionSubstanceUnit}}]
                      </span>
                    </td>
                    <td data-title="Diffusion Constant">
                      {{~this.Diffusion~}}
                      <span class="unit">
                        [{{../../../this.Model.[0].ModelUnitSystem.[0].$.AreaUnit~}}
                        /{{../../../this.Model.[0].ModelUnitSystem.[0].$.TimeUnit}}]
                        {{~/each~}}
                        {{~/each~}}
                      </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{{!-- specifications table reaction --}}
<div class="pmTable" id="specsReaction{{@key}}">
    <div class="container">
        <table class="responsive-table">
            <caption>
              Specifications(Reaction) - {{value.$.Name}}
              <span class="dashboardBtn">
                <a href="/curatedList/model/{{../../modelName}}#specsReaction{{@key}}">
                  <i class="fa fa-undo" aria-hidden="true"></i>
                  See in Dashboard
                </a>
              </span>
            </caption>
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Reaction Mapping</th>
                </tr>
            </thead>
            <tbody>

                {{#each value.ReactionContext}}
                {{#each this.ReactionSpec}}
                <tr>
                    <td data-title="Name">{{this.$.ReactionStepRef}}</td>
                    <td data-title="ReactionMapping">{{this.$.ReactionMapping}}</td>
                </tr>
                {{/each}}
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

{{!-- Simulations table  --}}
<div class="pmTable" id="simulations{{@key}}">
    <div class="container">
        <table class="responsive-table">
            <caption>
              Simulations - {{value.$.Name}}
              <span class="dashboardBtn">
                <a href="/curatedList/model/{{../../modelName}}#simulations{{@key}}">
                  <i class="fa fa-undo" aria-hidden="true"></i>
                  See in Dashboard
                </a>
              </span>
            </caption>
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">End Time</th>
                    <th scope="col">Output Options</th>
                </tr>
            </thead>
            <tbody>
                {{#each value.Simulation}}
                <tr>
                    <td data-title="Name">{{ this.$.Name}}</td>
                    {{#each this.SolverTaskDescription}}
                    {{#each this.TimeBound}}
                    <td data-title="End Time">
                      {{ this.$.EndTime}}
                      <span class="unit">
                        [{{../../../../this.Model.[0].ModelUnitSystem.[0].$.TimeUnit}}]
                      </span>
                    </td>
                    {{/each}}
                    <td data-title="Output Options">
                      {{#each ../../../../outputOptions}}
                      <p>{{this.key}} {{this.val}}</p>
                      {{/each}}
                    </td>
                    {{/each}}
                </tr>
                {{/each}}

            </tbody>
        </table>
    </div>
</div>

{{!-- Assignment Rules Table --}}
{{#each this.AssignmentRules}}
{{#if (isListNotNull this.AssignmentRule)}}
<div class="pmTable optionData" id="raterules{{@key}}">
    <div class="container">
        <table class="responsive-table">
            <caption>
              Assignment Rules - {{value.$.Name}}
              <span class="dashboardBtn">
                <a href="/curatedList/model/{{../../modelName}}#assignments{{@key}}">
                  <i class="fa fa-undo" aria-hidden="true"></i>
                  See in Dashboard
                </a>
              </span>
            </caption>
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Variable</th>
                    <th scope="col">Assignment Function Expression</th>
                </tr>
            </thead>
            <tbody>
              {{#each this.AssignmentRule}}
              <tr>
                  <td>{{this.$.Name}}</td>
                  <td>{{this.$.AssignmentRuleVariable}}</td>
                  <td>{{this._}}</td>
              </tr>
              {{/each}}
            </tbody>
        </table>
    </div>
</div>
{{/if}}
{{/each}}

{{!-- Rate Rules Table --}}
{{#each this.RateRules}}
{{#if (isListNotNull this.RateRule)}}
<div class="pmTable optionData" id="raterules{{@key}}">
    <div class="container">
        <table class="responsive-table">
            <caption>
              Rate Rules - {{value.$.Name}}
              <span class="dashboardBtn">
                <a href="/curatedList/model/{{../../modelName}}#raterules{{@key}}">
                  <i class="fa fa-undo" aria-hidden="true"></i>
                  See in Dashboard
                </a>
              </span>
            </caption>
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Variable</th>
                    <th scope="col">Rate Expression</th>
                </tr>
            </thead>
            <tbody>
              {{#each this.RateRule}}
              <tr>
                  <td>{{this.$.Name}}</td>
                  <td>{{this.$.RateRuleVariable}}</td>
                  <td>{{this._}}</td>
              </tr>
              {{/each}}
            </tbody>
        </table>
    </div>
</div>
{{/if}}
{{/each}}

{{!-- Events Table --}}
{{#each this.BioEvents}}
{{#if (isListNotNull this.BioEvent)}}
<div class="pmTable optionData" id="events{{key}}">
    <div class="container">
        <table class="responsive-table">
            <caption>
              Events - {{value.$.Name}}
              <span class="dashboardBtn">
                <a href="/curatedList/model/{{../../modelName}}#events{{@key}}">
                  <i class="fa fa-undo" aria-hidden="true"></i>
                  See in Dashboard
                </a>
              </span>
            </caption>
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Trigger Type</th>
                    <th scope="col">Variable Assignment</th>
                </tr>
            </thead>
            <tbody>
              {{#each this.BioEvent}}
              <tr>
                  <td>{{this.$.Name}}</td>
                  <td>
                    {{convertTrigger this}}
                  </td>
                  <td>
                    {{~#each EventAssignment~}}
                    {{this.$.Variable}} --> {{this._~}}
                    {{#if (greater ../this.EventAssignment.length (add 1 @index))~}}
                    ,
                    {{/if~}}
                    {{/each~}}
                  </td>
              </tr>
              {{/each}}
            </tbody>
        </table>
    </div>
</div>
{{/if}}
{{/each}}

{{!-- Geometry Table --}}
<div id="geometry{{key}}" class="optionData pmTable">
    <div class="container">
      {{#each this.Geometry}}
        <table class="responsive-table">
            <caption>
              Geometry {{this.$.Name}}
              <span class="dashboardBtn">
                <a href="/curatedList/model/{{../../../modelName}}#geometry{{key}}">
                  <i class="fa fa-undo" aria-hidden="true"></i>
                  See in Dashboard
                </a>
              </span>
              <br>
              (Origin:
              {{#each this.Origin~}}
              {{this.$.X}},
              {{this.$.Y}},
              {{this.$.Z}}
              {{~/each}}; Extent:
              {{#each this.Extent~}}
              {{this.$.X}},
              {{this.$.Y}},
              {{this.$.Z}}
              {{~/each}}
              {{~#each this.ImageData~}}
              ; Image:
              {{this.$.X}},
              {{this.$.Y}},
              {{this.$.Z}}
              {{~/each}}<span class="unit">[{{../../this.Model.[0].ModelUnitSystem.[0].$.LengthUnit}}]</span>)
            </caption>
            <thead>
                <tr>
                    <th>Dimension</th>
                    <th>Type</th>
                    <th>Subdomain</th>
                    <th>Adjacent Subvolumes</th>
                    <th>Size</th>
                    <th>Mapped Compartment</th>
                </tr>
            </thead>
            <tbody>
                {{#each (listIndex ../../../geometryList key)}}
                <tr>
                    <td>
                      {{this.geometry}}
                    </td>
                    <td>
                      {{this.type}}
                    </td>
                    <td>
                      {{this.name}}
                    </td>
                    <td>
                      {{this.adjacent}}
                    </td>
                    <td>
                      {{this.size}} <span class="unit">{{this.unit}}</span>
                    </td>
                    <td>
                      {{this.compartment}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
{{/each}}
{{/each}}
{{/each}}

<hr>
<h2 class="sectionTitle">Global Parameters</h2>

{{!-- Global Parameters table  --}}
<div class="pmTable" id="global-parameters">
    <div class="container">
        <table class="responsive-table">
            <caption>Global Parameters <span class="dashboardBtn"><a href="/curatedList/model/{{modelName}}#global"><i
                            class="fa fa-undo" aria-hidden="true"></i>
                        See in Dashboard</a></span>

            </caption>
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Expression</th>
                </tr>
            </thead>
            <tbody>
                {{#each data.vcml.BioModel}}
                {{#each this.Model}}
                {{#each this.ModelParameters}}
                {{#each this.Parameter}}
                <tr>
                    <td data-title="Name">{{ this.$.Name}}</td>
                    <td data-title="Expression">
                      {{this._}}<span class="unit">[{{this.$.Unit}}]</span>
                    </td>
                </tr>
                <tr>
                    <td class="printAnnotationWrap">
                        <div class="printAnnotation">

                            {{!-- universal ID's  --}}
                            <div class="printUID" id="parameterUID-{{this.$.Name}}">

                            </div>
                        </div>
                    </td>
                    <td class="printAnnotationWrap">
                        <div class="printAnnotation">
                            {{!-- annotation --}}
                            <div class="printTA" id="parameterTA-{{this.$.Name}}">

                            </div>
                        </div>
                    </td>
                </tr>
                {{/each}}
                {{/each}}
                {{/each}}
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<hr>


{{!-- fetching annotations  --}}
<script src="/js/main.js"></script>

{{!-- drawing graphics--}}
<script src="/js/model-graphics.js"></script>

<script>
  //remove trailing syntax
  function removeTrailingSyntax(element) {
    s = element.innerHTML;
    s = s.replace(/,\)/g, ')');
    s = s.replace(/-\)/g, ')');
    s = s.replace(/!\)/g, ')');
    if (s[s.length - 1] == '.') {
      s = s.slice(0, s.length - 1);
    }
    element.innerHTML = s;
  }

  function removeTrailingSyntaxID(element) {
    s = element.id;
    s = s.replace(/,\)/g, ')');
    s = s.replace(/-\)/g, ')');
    s = s.replace(/!\)/g, ')');
    if (s[s.length - 1] == '.') {
      s = s.slice(0, s.length - 1);
    }
    element.id = s;
  }

  //bng p elements
  var bngElements = document.querySelectorAll("#printable-bionetgen.print-descriptor");
  bngElements.forEach(removeTrailingSyntax);
  //canvas graphics elemetns
  var canvasElements = document.querySelectorAll(".molecule_canvas");
  canvasElements.forEach(removeTrailingSyntaxID);

  //steps for each canvas
  function drawGraphicsPrintable(canvasElm, drawType) {
    bioNetGen = canvasElm.id;
    if (drawType == 'g') {

        var drawObj = new Graphic(bioNetGen, canvasElm.innerHTML);
        drawObj.draw(canvasElm, 0, 0);
        let dims = [drawObj.x, drawObj.y];

        //resize canvas
        canvasElm.width = dims[0];
        canvasElm.height = dims[1];

        //draw graphic
        drawObj.doDrawList();

    } else if (drawType == 'm') {

        var drawObj = new Molecule(bioNetGen);
        dims = drawObj.initDrawList(canvasElm, 1, 1);

        //resize canvas
        canvasElm.width = dims[0] + 5;
        canvasElm.height = dims[1] + 5;

        //draw graphic
        drawObj.doDrawList();

    } else {
        throw 'drawType ' + drawType + ' is not valid, use only m or g';
    }
  }

  for (let i = 0; i < canvasElements.length; i++) {
    cvsElm = canvasElements[i];
    drawType = cvsElm.title;
    drawGraphicsPrintable(cvsElm, drawType);
  }

  //species initial conditions
  function removeItemAll(arr, value) {
    let i = 0;
    while (i < arr.length) {
      if (arr[i] === value) {
        arr.splice(i, 1);
      } else {
        ++i;
      }
    }
    return arr;
  }
  let nameBngMap = {};
  {{#each data.vcml.BioModel}}
  {{#each this.Model}}
  {{#each this.ModelUnitSystem}}
  let MembraneSubstanceUnit = "{{this.$.MembraneSubstanceUnit}}";
  let VolumeSubstanceUnit = "{{this.$.VolumeSubstanceUnit}}";
  {{/each}}
  {{/each}}
  {{/each}}
  let speciesRows = document.getElementById("print-species-table").rows;
  let structuresRows = document.getElementById("print-structures-table").rows;
  let strucNameTypeMap = {};
  //add structure to name-type map
  for (let i = 1; i < structuresRows.length; i += 2) {
    let row = structuresRows.item(i).cells;
    let name = row.item(0).innerHTML.trim();
    let type = row.item(1).childNodes[1].innerHTML.trim();
    strucNameTypeMap[name] = type;
  }
  //set species initial conditions
  for (let i = 1; i < speciesRows.length; i += 2) {
    let row = speciesRows.item(i).cells;
    let structure = row.item(1).innerHTML.trim();
    let type = strucNameTypeMap[structure];
    let name = row.item(0).innerHTML.trim();
    let bng = row.item(2).innerHTML.trim();
    nameBngMap[name] = bng;
  }

  //add reaction graphics
  //draw plus
  function drawPlus(x, totalHeight, canvas) {
    let plusLen = 30;
    let ctx = canvas.getContext('2d');
    ctx.beginPath();
    ctx.moveTo(x, totalHeight / 2);
    ctx.lineTo(x + plusLen, totalHeight / 2);
    ctx.moveTo(x + plusLen / 2, (plusLen + totalHeight) / 2);
    ctx.lineTo(x + plusLen / 2, (-plusLen + totalHeight) / 2);
    ctx.strokeStyle = "#000000";
    ctx.lineWidth = 2;
    ctx.stroke();
    ctx.closePath();
    ctx.lineWidth = 1;
  }

  //draw arrow
  function drawArrow(x, totalHeight, canvas) {
    let arrowLen = 30;
    let ctx = canvas.getContext('2d');
    ctx.beginPath();
    ctx.moveTo(x, totalHeight / 2);
    ctx.lineTo(x + arrowLen - 10, totalHeight / 2);
    ctx.moveTo(x + arrowLen, totalHeight / 2);
    ctx.lineTo(x + arrowLen / 2, totalHeight / 2 + 10);
    ctx.moveTo(x + arrowLen, totalHeight / 2);
    ctx.lineTo(x + arrowLen / 2, totalHeight / 2 - 10);
    ctx.strokeStyle = "#000000";
    ctx.lineWidth = 2;
    ctx.stroke();
    ctx.closePath();
    ctx.lineWidth = 1;
  }

  //get html elements
  let reactionRows = document.getElementById("print-reactions-table").rows;
  let drawMap = {};
  let scale = 1;
  //iterate through rows
  for (let i = 1; i < reactionRows.length; i++) {
    let row = reactionRows.item(i).cells;
    if (i % 2 == 1) {
      var reaction = row.item(0).innerHTML;
    } else {
      let canvas = row.item(3).childNodes[1];
      let firstSpanIndex = reaction.indexOf('<span>');
      let lastSpanIndex = reaction.indexOf('</span>');
      let reactants = reaction.slice(0, firstSpanIndex).split('+');
      let products = reaction.slice(lastSpanIndex + 7, reaction.length).split('+');
      reactants = removeItemAll(reactants, '');
      products = removeItemAll(products, '');
      let totalLength = 0;
      let totalHeight = 0;

      //create list of draw functions
      let drawList = [];

      //reactants
      for (let u = 0; u < reactants.length; u++) {
        //init obj
        let bng = nameBngMap[reactants[u]];
        let drawObj = new Graphic(bng, 'compact');

        //initial draw to get size
        var dims = drawObj.draw(canvas, totalLength, 0);
        totalLength += dims[0];

        //add draw function
        drawList.push(
          {
            func: (canvas, totalLength, totalHeight) => {
              drawObj.doDrawList();
            },
            x: totalLength
          }
        );

        //add plus if not last reactant
        if (u < reactants.length - 1) {
          drawList.push(
            {
              func: (canvas, totalLength, totalHeight) => {
                drawPlus(totalLength, totalHeight, canvas);
              },
              x: totalLength
            }
          );
          totalLength += 30;
        }

        //add height
        if (dims[1] > totalHeight) {
          totalHeight = dims[1];
        }
      }

      drawList.push(
        {
          func: (canvas, totalLength, totalHeight) => {
            drawArrow(totalLength, totalHeight, canvas);
          },
          x: totalLength
        }
      );
      totalLength += 30;

      //products
      for (let u = 0; u < products.length; u++) {
        //init obj
        let bng = nameBngMap[products[u]];
        let drawObj = new Graphic(bng, 'compact');

        //initial draw to get size
        var dims = drawObj.draw(canvas, totalLength, 0, scale);
        totalLength += dims[0];

        //add draw function
        drawList.push(
          {
            func: (canvas, totalLength, totalHeight) => {
              drawObj.doDrawList();
            },
            x: totalLength
          }
        );

        //add plus if not last reactant
        if (u < products.length - 1) {
          drawList.push(
            {
              func: (canvas, totalLength, totalHeight) => {
                drawPlus(totalLength, totalHeight, canvas);
              },
              x: totalLength
            }
          );
          totalLength += 30;
        }

        //add height
        if (dims[1] > totalHeight) {
          totalHeight = dims[1];
        }
      }

      //resize canvas
      canvas.width = totalLength;
      canvas.height = totalHeight;

      //draw all elements
      for (let u = 0; u < drawList.length; u++) {
        let elm = drawList[u];
        elm.func(canvas, elm.x, totalHeight);
      }
    }
  }

  //fix link scrolling
  setTimeout(() => {  window.scrollBy(0, -98); }, 100);

</script>
